.background-cinza-3{
    background-color: #212121; /* cinza nivel 3 */
}

.background-cinza-2{
    background-color: #2A2A2B; /* cinza nivel 2 */
}

.background-cinza-1{
    background-color: #3A3A3A; /* cinza nivel 1 */
}

.background-cinza-0{
    background-color: #3c3c3c;
}

.background-cinza-4 {
    background-color: #989999;
}

.background-verde{
    background-color: #44d42c; 
}
